# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://lreadzxyenzqhcycyaru.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxyZWFkenh5ZW56cWhjeWN5YXJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3MzMxMDcsImV4cCI6MjA4OTMwOTEwN30.rmq03odoJrB3xivdY2oHQCtICaBScrdP3yw3vYLja5A
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxyZWFkenh5ZW56cWhjeWN5YXJ1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzczMzEwNywiZXhwIjoyMDg5MzA5MTA3fQ.1XrDCUwu255OeBnxjyawMCUBOnFay932FxIdA4vsrbw

# App
NODE_ENV=development
ELECTRON_DEV=true